extends layout

block content
  h1= title
  a(href=url)= url
  p Last time updated #{moment(time).local().fromNow()}
  img(url=imgUrl)
  div
    span Follow notification bot in this group: 
    a(href=groupLink)= groupLink
